<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: head"></head>
<link rel="stylesheet" href="/css/bootstrap-select.min.css">
<link rel="stylesheet" href="/css/ajax-bootstrap-select.css">
<body>
	<header th:insert="fragments/general.html :: header" th:remove="tag"></header>
	<main role="main" class="py-5">
		<div class="container bg-light shadow rounded py-5 px-5">
			<form id="formId" method="POST">
				<div th:include="fragments/general.html :: messages"></div>
				<div>
					<div th:include="fragments/localizedEntity.html :: locales"></div>
					<div class="form-group row">
						<label for="categoryGroup" class="col-sm-2 col-form-label" th:text="#{categoryGroup}"></label>
						<div class="col-sm-10">
							<select class="form-control custom-select" th:field="*{model.parentCategory}" id="categoryGroup" name="parentCategory"
									data-size="5" data-live-search="true" th:title="#{selectpicker.category}">
								<option value=""></option>
								<option th:each="categoryGroup: ${parentCategories}" th:value="${categoryGroup.id}"
										th:text="${categoryGroup.localization(#locale)}">
								</option>
								<optgroup th:each="categoryGroup: ${categoryGroups}"
										  th:label="${categoryGroup.key.localization(#locale)}">
									<option th:each="category: ${categoryGroup.value}" th:value="${category.id}"
											th:text="${category.localization(#locale)}">
									</option>
								</optgroup>
							</select>
						</div>
					</div>
					<button id="save"
						class="btn btn-outline-primary btn-lg btn-block" th:text="#{buttons.save}"></button>
				</div>
			</form>
		</div>
	</main>
	<div th:replace="fragments/general.html :: footer"></div>
	<script src="/js/bootstrap-select.js"></script>
	<script src="/js/bootstrap-select-ru.js"></script>
	<script src="/js/whattoeat/saveCategory.js"></script>
</body>
</html>