<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: head"></head>
<body>
	<header th:insert="fragments/general.html :: header" th:remove="tag"></header>
	<main role="main" class="py-5">
		<div class="container bg-light shadow rounded py-5 px-5">
			<div class="col pt-3 mt-md-2">
				<section class="col-lg-12">
					<!--Diets-->
					<div class="row">
						<!-- Diet -->
						<div th:each="diet: ${diets}" class="col-xl-4 col-sm-6 mb-grid-gutter">
							<a th:href="'/diets/show/' + ${diet.id}">
								<div class="bg-size-cover bg-position-center rounded-lg py-5 mb-grid-gutter"
									 th:style="'background-image: url(' + ${diet.imageUrl} + ');'">
									<div class="py-5 px-4 text-center">
										<h3 class="text-light" th:text="${diet.localization(#locale)}"></h3>
									</div>
								</div>
							</a>
						</div>
					</div>
				</section>
			</div>
		</div>
	</main>
	<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>