<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general.html :: head"></head>
<body>
	<div th:replace="fragments/general.html :: header"></div>
	<main role="main" class="py-5">
		<div class="py-5">
			<div class="py-5">
				<div class="container bg-light shadow rounded-lg py-5 px-5 col col-lg-6">
					<div th:include="fragments/general.html :: messages"></div>
					<div class="row" th:include="fragments/general.html :: authorization(suffix = '-general')"></div>
				</div>
			</div>
		</div>
	</main>
	<div th:replace="fragments/general.html :: footer"></div>
	<script>var activeTab = "[[${activeTab}]]";</script>
	<script src="/js/whattoeat/signup.js"></script>
</body>
</html>